/* theme */

.universal-header {
  background-color: darkslategrey;
  color: white;
}

/* content */

.line {
    display: flex;
    white-space: pre;
    flex-wrap: wrap;
  }

.rsoutput {
    display: flex;
  }
  
.rsoutput > div {
    background-color: lightgray;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 0px;
  }

  input {
    height: fit-content;
    width: auto;
    align-self: center;
    text-align: center;
  }

  select {
    height: fit-content;
    width: auto;
    align-self: center;
    align-content: center;
  }